<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ips</package>
	<author>I-TECH DIGI</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.ips.InternationalPatientSummaryActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>2.6.0</require_version>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	<require_modules>
		<require_module version="${webservices.restVersion}">
			org.openmrs.module.webservices.rest
		</require_module>
	</require_modules>
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties-->
	<globalProperty>
		<property>@MODULE_ID@.concept</property>
		<defaultValue>11557d80-af43-4788-b30c-69bc60489814</defaultValue>
		<description>
			UUID for the InternationalPatientSummary concept.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.url</property>
		<defaultValue>https://hapi.fhir.org/baseR4/Patient/$summary</defaultValue>
		<description>
			Url for the InternationalPatientSummary.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.identifiertype.uuid</property>
		<defaultValue>8d79403a-c2cc-11de-8d13-0010c6dffd0f</defaultValue>
		<description>
			Preferred UUID to query the IPS remote server.
		</description>
	</globalProperty>
	
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
